extends layout

block body
    div(data-role="page")
        div.theinteractive(slidetitle)
            img(src="img/theinteractive.png", width="220px")

        div.social
            a(href="http://www.facebook.com/pages/Parliament-2015/171688106308773?ref=ts&fref=ts", class="box")
                img(src="img/facebook.png")
            a(href="http://pinterest.com/parliament2015/", class="box")
                img(src="img/pinterest.png")
            a(href="https://twitter.com/Parliament_2015", class="box")
                img(src="img/twitter.png")


        div#logo
            img(src="img/corner_left.png", width="200px")




        timeline
            div.my-timeline
                div#my-timeline

        div.upload_button(addEvent)
            a(href="#")
                img(src="img/upload_event.png", width="100px")

        div.form(ng-controller="eventList")
            img.form_top(src="img/form_top.png", width="550px")
            h1 Add Event to Timeline
            section.field
                label Start Date*
                br
                input(type="date", ng-model="newEvent.start_date")
            section.field
                label End Date*
                br
                input(type="date", ng-model="newEvent.end_date")

            section.field
                label Headline*
                br
                input(type="text", ng-model="newEvent.headline")

            section.field
                label Text*
                br
                input(type="text", ng-model="newEvent.text")

            section.field
                label Image*
                br
                input(type="text", ng-model="newEvent.media", placeholder="Link to image")

            section.field
                label Credit*
                br
                input(type="text", ng-model="newEvent.credit")

            section.field
                a(href="javascript:timedRefresh(1000)")
                    button(type="submit", value="Add to timeline", ng-click="getEventInfo()") Add to timeline
            img.form_bottom(src="img/form_bottom.png", width="550px")


            script
                function timedRefresh(timeoutPeriod) {
                    setTimeout("location.reload(true);",timeoutPeriod);
                }

    //Load angular

    script(src="http://code.jquery.com/jquery-1.8.2.min.js")

    script(src="js/storyjs-embed.js")
    script(src='js/lib/angular/angular.js')
    script(src="/js/app.js")
    script(src="/js/services.js")
    script(src="/js/controllers.js")
    script(src="js/filters.js")
    script(src="js/directives.js")




