!!!5
html(ng-app="parliament2015")
    head
        title Parliament 2015

        link(rel='stylesheet', href='/css/style.css')
        link(rel="stylesheet", href='/css/oldstyle.css')
        link(rel="stylesheet", href='/css/timeline.css')
    body
        block body