body{
    background-color: #add8e6;
}



.my-timeline{
    width: 90%;
    height: 95%;
    margin: 100px auto 0px auto;

}

.timelineback{
    width: 10;
    height: auto;
    background-color: black;
}

.form{
    background-color: #ffffff;
    width: 550px;
    margin: 0px auto 0px auto;

    margin-bottom: 80px;

}

input{
    border-radius: 5px;
    width: 200px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.field{
    width: 300px;
    margin: 0px auto 0px auto;
}

.form_top {
    margin-top: -10px;
}

.form_bottom{
    margin-bottom: -17px;
}

h1{
    width: 350px;
    margin: 0px auto 40px auto;
}